body {
    background-color: bisque;
}
h1 {
    text-align: center;
    color:rgb(223, 104, 24);
}

.navbar {
    overflow: hidden;
    background-color:rgb(255, 200, 132);
    font-family: Arial;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.2);
}
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    cursor: pointer;
    background-color: rgb(161, 141, 76);
}

.menuChecked {
    background-color: rgb(161, 141, 76);
}

.container {
    margin-top: 4vh;
    margin-bottom: 4vh;
    /* border: 1px solid brown; */
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
/* The grid: Five equal columns that floats next to each other */
.displayBox {
    width: 480px;
    /* border: 1px solid black; */
    /* text-align: center;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vh; */
}
.displayBox img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    width: 100%;
}

.displayBox_button {
    /* border: 1px solid black; */
    display: inline;
    background: none;
    /* border-radius: 25%; */
}

.displayBox_button img {
    width: 80px;
    height: 80px;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
}

.row {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
    /* overflow: auto; */
}
.column {
    position: relative;
    display: inline-block;
    width: 16%;
    padding-top: 10px;
    padding: 2px;
}

.column img {
    border-radius: 5px;
    width: 100%;
    opacity: 0.8;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.column img:hover {
    opacity: 1;
    transform: scale(1.04) ;
}

.disabled {
    opacity: 0.2;
}

.picked {
    opacity: 1;
    border-style: groove;
    border-color: rgb(248, 110, 85);
    border-radius: 5px;
    border-width: 6px;
}

.disabled:hover {
    border-color: transparent !important;
    cursor: not-allowed;
}

.card {
    border-radius: 10px;
    width: 320px;
    background-color: rgb(240, 208, 144);
}
.card h4 {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    padding-left: 16px;
    padding-right: 16px;
}
.card #infoText1{
    padding-top: 16px;
}

.card #infoText3{
    padding-bottom: 16px;
}
@keyframes scaleAndReverse {
    0% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(1.0);
    }
}
@media screen and (max-width: 768px) {
    .column {
        width: 31.7%;
    }
}
@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}

.column .close {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .5;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}

.column .close:hover {
    opacity: 1;
}
