.ant-row-rtl .logo {
    float: right;
    margin: 16px 0 16px 24px;
}
.innerbar {
    display: flex;
    flex-direction: row;
    align-items: center; 
    max-width: 1080px;
    width: auto;
    margin: 0 auto;
}
.leftbar {
    position: relative;
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu {
    float: left;
    display: flex;
    align-items: center;
    margin-right: 18px;
    color: #fff;
}
.logo {
    float: left;
    display: flex;
    align-items: center;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(83, 83, 83, 0.3);
}
.rightbar {
    position: relative;
    margin-left: auto;
    margin-right: 0;
    display: 'flex';
    align-items: 'center';
}
.sign {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}
.sign-button {
    color: #fff;
    border: none;
    display: inline-block;
    position: relative;
    align-items: center;
    border-radius: 8px;
}
#signUp {
    max-width: 50px;
    width: auto;
    background-color: #5CB7FF;
}
#signIn {
    max-width: 50px;
    width: auto;
    background-color: #5CB7FF;
    margin-left: 0px;
    margin-right: 12px;
}
#Upload {
    background-color: #3A9CEA;
    margin-right: 12px;
}