.page {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: row;
    color: rgb(51, 51, 51);
    background-color: #fff;
    min-height: 100%;
    min-width: 300px;
    position: relative;
}
.Leftside-login {
    min-height: 100vh;
    flex-basis: 45%;
    background-color: #44ACFF;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.title {
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    padding: 16px;
    text-align: center;
}
.intro {
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    padding: 16px;
    text-align: center;
}
.Rightside-login {
    flex-basis: 55%;
    min-height: 50vh;
    padding: 20px;
    align-self: center;   
}

.form-wrapper h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #64A1D1;
    text-align: center;
}
.login-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 350px;
    max-height: 100px;
    text-align: center;
    position: relative;
}
.item {
    font-size: 16px;
    border-radius: 16px;
}
.login-form-forgot {
    margin-top: -10px;
    display: block;
    text-align: center;
}
.login-form-button {
    display: inline-flex;
    text-align: center;
    position: relative;
    border-radius: 20px;
    border-color: #FB8CB3;
    color: #fff;
    background-color: #FB8CB3;
    margin-top: -10px;
}
.SignUp-alter {
    display: block;
    text-align: center;
    position: relative;
    margin-top: 20px;
}
.alter-button {
    margin-left: 6px;
    border-color: #FB8CB3;
    color: #FB8CB3;
    background-color: #fff;
}
#backhome {
    position: absolute;
    top: 2vw;
    left: 3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#backhome:hover {
    cursor: pointer;
}
#homeIcon {
    font-size: 26px;
    color: #fff;
    margin-right: 0.5vw;
}