@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@600&display=swap');
.cardwrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px,1fr));
    grid-column-gap: 10px;
    grid-row-gap: 6vh;
    padding: 1vw;
    align-items: center;
    margin-bottom: 4vh;
}
.loadingwrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.detail-wrapper {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    max-height: 160px;
}
.detail-wrapper p {
    color: rgb(95, 106, 116);
}
#pagination {
    margin-left: 47%;
    margin-top: 2vh;
    margin-bottom: 1.5vh;
    font-family: 'Rokkitt', serif;
    font-weight: 600;
    font-size: larger;
}
.stepButton {
  	display: inline-block;
}
#previous, #next {
	object-fit: contain;
}
#previous, #next:hover {
	cursor: pointer;
}
#warning-icon {
    margin-top: 3vh;
    font-size: 8vw;
    color: hsl(0, 1%, 85%)
}

.allCard-wrapper {
    display: grid;
    grid-template-columns: minmax(10px,1fr) minmax(400px,23fr) minmax(10px,1fr);
    grid-column-gap: 10px;
    align-items: center;
    width: 100%;
    min-height: 60vh;
}
.ant-card-hoverable {
    border-radius: 16px;
    overflow: hidden;
    margin: 0px 16px 0;
    transition: transform 0.5s linear, box-shadow 0.3s ease-in-out;
    box-shadow: 0 1px 2px rgba(83, 83, 83, 0.3);
}
.ant-card-hoverable:hover {
    transform: translate(0px,-10px);
    box-shadow: 0 5px 15px rgba(83, 83, 83, 0.3);
}
#home-nav {
    bottom: 5%;
    text-align: center;
    max-width: 100px;
    border-radius: 20px;
    border-color: #FB8CB3;
    color: #fff;
    background-color: #FB8CB3;
    margin-top: 5vh;
    left: 46.8%;
}