.page {
    display: flex;
    flex-direction: row;
    color: rgb(51, 51, 51);
    background-color: #fff;
    min-height: 100%;
    min-width: 300px;
    position: relative;
}
.Leftside-signup {
    flex-basis: 55%;
    min-height: 100vh;
    padding: 5vh;
    background-color: #fff;
    text-align: center; 
    justify-content: center;
}
.form-wrapper-s h1 {
    margin-top: 4vw;
    font-size: 2rem;
    font-weight: 700;
    color: #64A1D1;
    text-align: center;
}
.Rightside-signup {
    min-height: 100vh;
    flex-basis: 45%;
    background-color: #44ACFF;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.item {
    font-size: 16px;
    border-radius: 16px;
}
.signup-form {
    display: flex;
    flex-direction: column;
    margin-left: 13vw;
    max-width: 550px;
    max-height: 70vh;
    text-align: center;
    position: relative;
    align-self: center; 
}
.button-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: -35vw;
}
.SignUp-form-button {
    display: inline-flex;
    text-align: center;
    position: relative;
    border-radius: 20px;
    border-color: #FB8CB3;
    color: #fff;
    background-color: #FB8CB3;
    margin-top: -10px;
}
.Login-alter {
    display: block;
    text-align: center;
    position: relative;
    margin-top: 20px;
}
.sign-up-check {
    margin-top: -10px;
}
.alter-button {
    margin-left: 6px;
    border-color: #FB8CB3;
    color: #FB8CB3;
    background-color: #fff;
}

.title {
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    padding: 16px;
    text-align: center;
}
.intro {
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    padding: 16px;
    text-align: center;
}
#backhome-right {
    position: absolute;
    top: 2vw;
    left: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#backhome-right:hover {
    cursor: pointer;
}